<nav id="mainNavbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% url 'register' as register_url %}
        {% url 'login' as login_url %}
        {% url 'lunch_index' as lunch_index_url %}
        <li {% if request.path == lunch_index_url %} class="active" {% endif %}>
          <a href="{% url 'lunch_index' %}">Lunch</a>
        </li>
        {% if not user.is_authenticated %}
        <li {% if request.path == register_url %} class="active" {% endif %}>
          <a href="{{ register_url }}">Register</a>
        </li>
        <li {% if request.path == login_url %} class="active" {% endif %}>
          <a href="{{ login_url }}" id="loginLinkId">
            Login <span class="glyphicon glyphicon-log-in"></span>
          </a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li>
          <form action="{% url 'logout' %}" id="logout-form" method="POST">
            {% csrf_token %}
            <button type="submit" id="logout-btn" class="btn btn-link btn-logout">Logout</button>
          </form>
        </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
