{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>Ohsiha application</h1>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="index-sections col-md-7 well">
          <h3>This is the main page of Ohjelmallinen sisällönhallinta course at TUT course project.</h3>
      </div>
      <div class="index-sections col-md-offset-1 col-md-4 well">
          <h3>This side section will be used for displaying most used app...</h3>
      </div>
    </div>
</div>

{% endblock %}